aws_region   = "us-east-1"
project_name = "togglemaster"
environment  = "prod"

apps = {
  auth-service      = { database_name = "auth_db" }
  flag-service      = { database_name = "flags_db" }
  targeting-service = { database_name = "targeting_db" }
  evaluation-service = {}
  analytics-service  = {}
}

app_service_accounts = [
  "system:serviceaccount:togglemaster-evaluation:evaluation-service",
  "system:serviceaccount:togglemaster-analytics:analytics-service",
]

vpc_cidr             = "10.42.0.0/16"
public_subnet_cidrs  = ["10.42.1.0/24", "10.42.2.0/24"]
private_subnet_cidrs = ["10.42.101.0/24", "10.42.102.0/24"]

db_username              = "togglemaster"
rds_instance_class       = "db.t4g.micro"
rds_allocated_storage_gb = 20
redis_node_type          = "cache.t3.micro"
dynamodb_table_name      = "ToggleMasterAnalytics"

eks_node_instance_types = ["t3.medium"]
eks_desired_nodes       = 2
eks_min_nodes           = 1
eks_max_nodes           = 3

# Do not write db_password here. Set it before plan/apply:
# export TF_VAR_db_password='a-strong-password'
